@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		margin: unset;
	}

	button,
	input,
	textarea,
	select {
		font: inherit;
	}

	img,
	picture,
	svg,
	canvas {
		display: block;
		max-inline-size: 100%;
		height: auto;
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			animation-duration: 0.01ms;
			animation-iteration-count: 1;
			transition-duration: 0.01ms;
			scroll-behavior: auto;
		}
	}
}
